<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h1>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">E-mail</th>
            <td><%= @user.email%></td>
          </tr>
          <tr>
            <th scope="row">Photo</th>
            <td><img src = <%= @user.photo%> ></td>
          </tr>
          <tr>
            <th scope="row">Cars</th>
            <td>Chevrolet</td>
          </tr>
        </tbody>
      </table>
