<div class="banner" data-navbar-target="banner">
  <div class="banner-content container d-flex flex-column justify-content-center">
    <h2>Find your vehicle..</h2>
    <form class="search-form w-120" action="/cars">
      <div class="row p-3 rounded">
        <div class="form-floating col-12 col-lg-6">
          <label for="floatingInput">Location</label>
          <input type="text" class="form-control mb-2 mb-lg-0" id="floatingInput" placeholder="Location" name="location">
        </div>

        <div class="form-floating col-6 col-lg-2">
          <label for="pickUpInput">Pick-up Date</label>
          <input type="date" class="form-control mb-2 mb-lg-0" placeholder="Test" id="pickUpInput">
        </div>

        <div class="form-floating col-6 col-lg-2">
          <label for="dropOffInput">Drop-off Date</label>
          <input type="date" placeholder="test" class="form-control mb-2 mb-lg-0" id="dropOffInput">
        </div>

        <div class="col-12 col-lg-2 h-100 d-flex align-items-center">
          <div class="w-100">
            <button type="submit" class="btn btn-primary mb-2 mb-lg-0 w-100" style="height: 58px">Search</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="landingcards">

  <div class="main-card d-flex">
    <div class="icon mx-3">
      <i class="fa-solid fa-face-smile-beam"></i>
    </div>
    <div class="cardtext">
      <h2>Premium fleet</h2>
      <p>Feel like a VIP with our special cars collection!</p>
    </div>
  </div>

  <div class="main-card d-flex">
    <div class="icon mx-3">
      <i class="fa-solid fa-earth-africa"></i>
    </div>

    <div class="cardtext">
      <h2>Fully digital</h2>
      <p>Skip long lines at the counter</p>
    </div>
  </div>

  <div class="main-card d-flex">
    <div class="icon mx-3">
      <i class="fa-solid fa-people-arrows"></i>
    </div>

    <div class="cardtext">
      <h2>105+ countries</h2>
      <p>User to user, with a safe security system</p>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <%= image_tag "map.png" %>
</div>
