.search-form {
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  border-radius: 5px;
  box-sizing: 5px;
  color:#2c698d;
  background: rgba(70, 70, 70, 0.3);
}

.form-floating > label {
  font-size: medium;
  color: #2c698d;
  top: -14px;
  left: 10px;
  border-radius: 5px;
}
.btn {
  background-color: #2c698d;
  color: #bae8e8;
  border-color: #2c698d;
  border-radius: 5px;
}
.btn:hover {
  background-color: #bae8e8;
  color: #2c698d;
  border-color: #bae8e8;
}
.main-card {
  margin: 50px;
  padding: 10px;
  border-radius: 5px;
  flex-direction: row;
  align-items: center;
}
.form-control {
  color: #606060;
}
.cards {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  position: relative;
  color: #979797;
  font-size: 18px;

}
.map-image {
  width: 250px;
  margin: 20px;
}
.icon {
  color: #2c698d;
}

.fa-solid {
  font-size: 100px;
  color: #bae8e8;
}
.cards h2 {
  color: #2c698d;
}
