<div class="container">
<img src="https://c8.alamy.com/comp/P2DN7H/location-vector-icon-isolated-on-transparent-background-location-logo-concept-P2DN7H.jpg" alt="" class="img-thumbnail">
<h2><%= car.brand_model %></h2>
<p><%= car.location %></p>
</div>
